<footer class="footer footer-transparent d-print-none ">
  <div class="container-xl">
    <div class="row text-center align-items-center flex-row-reverse">
      <div class="col-lg-auto ms-lg-auto">
        <ul class="list-inline list-inline-dots mb-0">
          <li class="list-inline-item"><a
              href="https://git.lmve.net/kevin/ops/-/blob/main/readme.md?ref_type=heads" target="_blank"
              class="link-secondary" rel="noopener">文档</a></li>
          <li class="list-inline-item"><a href="https://git.lmve.net/kevin/ops/-/blob/main/LICENSE?ref_type=heads"
              target="_blank" class="link-secondary">开源协议</a>
          </li>
          <li class="list-inline-item"><a href="https://git.lmve.net/kevin/ops" target="_blank"
              class="link-secondary" rel="noopener">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon text-orange" width="24" height="24"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-gitlab">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M21 14l-9 7l-9 -7l3 -11l3 7h6l3 -7z" />
              </svg>
              源码</a></li>
          <li class="list-inline-item">
            <a href="https://wnfed.com" target="_blank" class="link-secondary" rel="noopener">
              <!-- Download SVG icon from http://tabler-icons.io/i/heart -->
              <svg xmlns="http://www.w3.org/2000/svg" class="icon text-pink icon-filled icon-inline" width="24"
                height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
              </svg>
              博客
            </a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-lg-auto mt-3 mt-lg-0">
        <ul class="list-inline list-inline-dots mb-0">
          <li class="list-inline-item">
            Copyright &copy; 2025
            <a href="https://lmve.net" target="_blank" class="link-secondary">Lmve.NET</a>.
            All rights reserved.
          </li>
          <li class="list-inline-item">
            <a href="https://git.lmve.net/kevin/ops/-/commits/main" target="_blank" class="link-secondary"
              rel="noopener">
              v0.0.1
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<div class="offcanvas my_offcanvas_top" tabindex="-1" id="banner_alf" aria-labelledby="offcanvasTopLabel">
  <div class="alert alert-dismissible alert-success" id="banner_alf_type">
    <div class="d-flex">
      <div>
        <!-- Download SVG icon from http://tabler-icons.io/i/check -->
        <svg id="banner_alf_icon_success" class="d-none" xmlns="http://www.w3.org/2000/svg" class="icon alert-icon" width="24" height="24" viewBox="0 0 24 24"
          stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M5 12l5 5l10 -10"></path>
        </svg>
        <svg id="banner_alf_icon_warning" class="d-none" xmlns="http://www.w3.org/2000/svg" class="icon alert-icon" width="24" height="24" viewBox="0 0 24 24"
          stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M10.24 3.957l-8.422 14.06a1.989 1.989 0 0 0 1.7 2.983h16.845a1.989 1.989 0 0 0 1.7 -2.983l-8.423 -14.06a1.989 1.989 0 0 0 -3.4 0z">
          </path>
          <path d="M12 9v4"></path>
          <path d="M12 17h.01"></path>
        </svg>
        <svg id="banner_alf_icon_danger" class="d-none" xmlns="http://www.w3.org/2000/svg" class="icon alert-icon" width="24" height="24" viewBox="0 0 24 24"
          stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
          <path d="M12 8v4"></path>
          <path d="M12 16h.01"></path>
        </svg>
        <svg id="banner_alf_icon_info" class="d-none" xmlns="http://www.w3.org/2000/svg" class="icon alert-icon" width="24" height="24" viewBox="0 0 24 24"
          stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
          <path d="M12 9h.01"></path>
          <path d="M11 12h1v4h1"></path>
        </svg>
      </div>
      <div id="banner_alf_text">
        text
      </div>
    </div>
    <a class="btn-close" data-bs-dismiss="offcanvas" aria-label="close"></a>
  </div>

</div>

<!-- CSS files -->
<link href="/dist/css/tabler.min.css?1692870487" rel="stylesheet" />
<link href="/dist/css/tabler-flags.min.css?1692870487" rel="stylesheet" />
<link href="/dist/css/tabler-payments.min.css?1692870487" rel="stylesheet" />
<link href="/dist/css/tabler-vendors.min.css?1692870487" rel="stylesheet" />
<link href="/dist/css/demo.min.css?1692870487" rel="stylesheet" />
<style>
  @import url('https://rsms.me/inter/inter.css');

  :root {
    --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
  }

  body {
    font-feature-settings: "cv03", "cv04", "cv11";
  }

  .my_offcanvas_top {

    height: 45px;
    border-radius: 5px;
    /* 四个角均为圆角 */
    top: 50px;
    right: 120px;
    left: 120px;
    transform: scaleY(0);
    transform-origin: top center;
    transition: transform 0.4s;

  }

  .my_offcanvas_top.show {

    transform: scaleY(1);


  }
</style>
<!-- Libs JS -->
<!-- <script src="/dist/libs/apexcharts/dist/apexcharts.min.js?1692870487" defer></script>
    <script src="/dist/libs/jsvectormap/dist/js/jsvectormap.min.js?1692870487" defer></script>
    <script src="/dist/libs/jsvectormap/dist/maps/world.js?1692870487" defer></script>
    <script src="/dist/libs/jsvectormap/dist/maps/world-merc.js?1692870487" defer></script> -->
<!-- Tabler Core -->
<script src="/dist/js/tabler.min.js?1692870487" defer></script>
<script src="/dist/js/demo.min.js?1692870487" defer></script>
<script src="/dist/js/demo-theme.min.js?1692870487"></script>
<script src="/dist/js/my_js_func.js"></script>
<script src="/dist/js/axios.min.js"></script>
<script src="/dist/js/jquery-3.7.1.min.js"></script>

<script src="/dist/libs/bootstrap/dist/js/bootstrap.min.js"></script>

<script>

  var banner_offcanvas = new bootstrap.Offcanvas($('#banner_alf'), {
    backdrop: false // 关闭背景层
  });

  function banner_alert(type, text, close ,callback) {
    var ban_type = $('#banner_alf_type')
    var ban_text = $('#banner_alf_text')
    ban_type.removeClass('alert-success');
    ban_type.removeClass('alert-warning');
    ban_type.removeClass('alert-danger');
    ban_type.removeClass('alert-info');
    ban_type.addClass('alert-' + type);
    ban_text.html(text);

    $('#banner_alf_icon_success').addClass('d-none')
    $('#banner_alf_icon_warning').addClass('d-none')
    $('#banner_alf_icon_danger').addClass('d-none')
    $('#banner_alf_icon_info').addClass('d-none')

    switch (type){
      case 'success':
        $('#banner_alf_icon_success').removeClass('d-none')
        break;
        case 'warning':
        $('#banner_alf_icon_warning').removeClass('d-none')
        break;
        case 'danger':
        $('#banner_alf_icon_danger').removeClass('d-none')
        break;
        case 'info':
        $('#banner_alf_icon_info').removeClass('d-none')
        break;

    }

    banner_offcanvas.show();
    setTimeout(() => {
      banner_offcanvas?.hide();
      callback();

    }, close ? close : 1000);
  }

  //banner_alert('success', '123', 5000)

</script>